<header class="topbar">
  <div
    class="brand"
    routerLink="/dashboard"
  >
    <img
      src="/images/carro-navbar.png"
      alt="Carro da concessionária"
      class="brand-logo"
    />

    <div>
      <strong>Concessionária</strong>
      <span>Sistema de Gestão</span>
    </div>
  </div>

  <nav class="navigation">

    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
    >
      Início
    </a>

    <a
      routerLink="/clientes"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
    >
      Clientes
    </a>

    <a
      routerLink="/clientes/cadastro"
      routerLinkActive="active"
      class="nav-link"
    >
      Novo cliente
    </a>

    <a
      routerLink="/vendedores"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
    >
      Vendedores
    </a>

    <a
      routerLink="/vendedores/cadastro"
      routerLinkActive="active"
      class="nav-link"
    >
      Novo vendedor
    </a>

    <a
      routerLink="/veiculos"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
    >
      Veículos
    </a>

    <a
      routerLink="/veiculos/cadastro"
      routerLinkActive="active"
      class="nav-link"
    >
      Novo veículo
    </a>

    <a
      routerLink="/vendas"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
    >
      Vendas
    </a>

    <a
      routerLink="/vendas/cadastro"
      routerLinkActive="active"
      class="nav-link"
    >
      Nova venda
    </a>

  </nav>
</header>